/*
    ------------------ Footer ------------------
*/
.footer {
    background-color: #0d6efd;
    color: #fff;
    padding: 2rem;
}

#scrollUpBtn {
    background: #0a4bad;
    cursor: pointer;
    outline: 0;
    border: 0;
    color: #fff;
    opacity: .8;
    border-radius: 9999px;
    padding: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scrollUpBtn:hover { opacity: 1; }


.dark .footer {
    background-color: rgb(30 41 59) !important;
}
.dark #scrollUpBtn {
    background-color: rgb(28, 48, 82) !important;
}